<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Computer Solutions Bellingham</title>
</head>
<body>

<header class="header">


    <!-- Popout Box with Logo and Title -->

<div class="title-card">
  <div class="title-screen">
    <div class="title-and-logo">
      <span class="title">Secure Computer<br>Solutions<br>Bellingham</span>
      <span class="main-logo"><img src="assets/images/shield_upscaled_smudge.png" alt="Logo"></span>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- Navigation Menu -->
    <nav class="nav-menu">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-toggle-label">
            <div class="menu-text">Navigation Menu</div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </label>
        <ul class="drop-down">
            <li><a href="ai">AI and Data</a></li>
            <li><a href="it">IT and Cyber Security</a></li>
            <li><a href="scheduling">Scheduling and Payment</a></li>
            <li><a href="security">Security Tips</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="privacy">Privacy</a></li>
        </ul>
    </nav>
</header>

</body>
</html>

