/* title-card.scss */

/* header bounding box */
.header-grad {
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	align-items: center;
	background: var(--header-grad-c);
	z-index: 1;
        border-radius: 1.5rem;
	border: 4px double var(--title-card-border);
	padding: 1em;
}

/* title bounding box */
.title-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: .4em;

/*  align-items: baseline; */
	align-items: stretch;
	justify-content: center;

	background: var(--title-bg);

        border-radius: 1.5rem;
	border: 4px double var(--title-card-border);

	z-index: 1; /* show up over header gradient */
}
/* Secure Computer is 15em, Bellingham is 10em.*/
.title-screen {
  font-size: 2.5rem;
  box-sizing: border-box;
  max-height: 70vh;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  align-content: center;
  align-items: center;

  justify-content: center;
  justify-items: center;

  overflow-wrap: break-word;
  padding: 1em;
  overflow: visible;
  
  
  background: var(--title-bg);
  box-shadow: var(--title-shadow);
  filter: var(--title-screen-filter);
  
  z-index: 2; /* show up on top of title-card */
  
  border-radius: 1.5rem;
  border: 4px single var(--title-screen-border);
}
.title {
	column-gap: .5em;
	font-family: 'Audiowide', sans-serif;

	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	flex-wrap: wrap;
	overflow-wrap: break-word;
	
	overflow: visible;

	/* align-items: stretch; */
	font-weight: bold;
	text-overflow: wrap;
	text-wrap: pretty;
	color: var(--title-font-color);
	z-index: 2;
	white-space: normal;
}
.title-word {
	display: inline-block;
}
.main-logo {
	width: 2em;
	height: 3em;
	z-index: 3;
}
.main-logo-img {
	height: 3em;
	width: 3em;
	z-index: 3;
  	filter: var(--main-logo-filter);
}
