<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">


<link rel="canonical" href="https://securecomputer.ai/">
<link rel="icon" href="assets/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" sizes="16x16" href="assets/favicons/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="assets/favicons/favicon-32x32.png">
<link rel="icon" sizes="48x48" href="assets/favicons/favicon-48x48.png">
<link rel="icon" sizes="128x128" href="assets/favicons/favicon-128x128.png">

<meta name="description" content="Secure Computer Solutions provides IT services, AI consulting, and cybersecurity solutions in Bellingham, WA. We prioritize security and ethical data practices. We offer full-pipeline AI development, chatbot and web app creation, software development, and data analysis in addition to general IT and computer repair.">

<meta name="keywords" content="IT services, Bellingham WA, computer repair Bellingham, on-site computer repair Bellingham WA, cybersecurity, data privacy, consulting, data security, encryption, data backup and recovery, virus removal, malware removal, AI consulting, business IT support WA, ethical IT solutions, AI development, chatbot, machine learning, secure computer solutions, small business cybersecurity, networking, operating system support Windows Linux Mac, deep learning, predictive analytics, cloud security, custom PC builds and upgrades, software development, software engineering, web app, data analysis, cloud storage, secure systems design,>

<meta http-equiv="Content-Security-Policy" content="
default-src 'none';
base-uri 'none';
script-src 'none';
style-src 'self';
img-src 'self';
font-src 'self';
object-src 'none';
media-src 'none';
worker-src 'none';
form-action 'self';
upgrade-insecure-requests;
">

<meta name="referrer" content="no-referrer">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="Permissions-Policy" content="accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), gamepad=(), geolocation=(), gyroscope=(), layout-animations=(), legacy-image-formats=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), sync-xhr=(), usb=(), wake-lock=(), web-share=(), xr-spatial-tracking=()">
<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">
<meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">

<!-- Generic Page Layout -->
<title>SCS Bham</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	{% include header.html prefix="" %}
	<div class="page-layout">

	<header class="top-menu">
		<ul><a href="ai">AI and Data</a></ul>
		<ul><a href="it">IT and Cyber Security</a></ul>
		<ul><a href="scheduling">Scheduling and Payment</a></ul>
		<ul><a href="security">Security Tips</a></ul>
		<ul><a href="contact">Contact</a></ul>
		<ul><a href="index">Home</a></ul>
		<ul><a href="about">About</a></ul>
		<ul><a href="privacy">Privacy</a></ul>
	</header>

	<button class="scroll-to-top" id="scrollToTopBtn" style="display:none;">↑ Navigation Menu</button>

	<div class="content">
		<div class="header-grad"> <!-- contains title-card and nav-menu --> 
                	<div class="title-card"> <!-- contains title-screen -->
                                       <div class="title-screen"> <!-- contains title and logo -->
                                               <div class="title"><div class="title-word">Secure</div><div class="title-word">Computer</div><div class="title-word">Solutions</div></div>
                                               <div class="main-logo"><img class="main-logo-img" src="assets/images/shield_upscaled_smudge.png" alt="Logo"></div>
                                               <div class="title">Bellingham</div>
                                       </div>
			</div>
			<nav class="nav-menu">
				<div class="nav-card">
					<textarea id="search-bar" type="text" placeholder="Search..." class="search-box"></textarea>
					<div class="nav-graphics">
						<div class="nav-keyboard">
							<img src="assets/images/keyboard-from-top-view-with-buttons-and-bar-svgrepo-com.svg" alt="Keyboard icon" draggable="false" />
						</div>
						<div class="nav-mouse">
							<img src="assets/images/computer-mouse-with-long-cable-svgrepo-com.svg" alt="Mouse icon" draggable="false" />
						</div>
					</div>
				</div>
			</nav>

			<button class="scroll-to-next" id="scrollNextBtn">↓ Content</button>
			<div id="fixedContentBtnContainer"></div>

		</div>
		{{ content }}
		{% include footer.html prefix="" %}
		</div>	
	</div>

</body>
<script src="assets/javascript/title-boundary.js"></script>
<script src="assets/javascript/update-plasma-borders.js"></script>
<script src="assets/javascript/scroll-to-content.js"></script>
<script src="assets/javascript/main-width.js"></script>
<script src="assets/javascript/scroll-to-deets.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
<script src="assets/javascript/search.js"></script>
</html>

